@import "normalize.scss";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
$dark-primary-color: #455A64;
$light-primary-color: #f8f9fa;
$primary-color: #607D8B;
$text-icons: #FFFFFF;
$divider-color: #BDBDBD;
$accent-color: #FF5722;
$accent-color-hover: #d33a0b;
$primary-text: #212121;
$secondary-text: #757575;
$whatsapp: #25d366;
$whatsapp-secondary: #28a857;
body {
    a {
        color: $primary-text;
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    font-family: 'Open Sans',
    sans-serif;
    color: $primary-text;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
        max-width: 1140px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        max-width: 960px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        max-width: 720px;
    }
    @media (min-width: 576px) and (max-width: 767px) {
        max-width: 540px;
    }
}

.lock {
    @media (max-width: 772px) {
        overflow: hidden;
    }
}

.btn {
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

.header {
    &__top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 1rem 0;
        font-weight: 600;
        background-color: $light-primary-color;
        z-index: 99;
        @media (max-width: 767px) {
            padding: 0.5rem;
        }
    }
    &__top::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $light-primary-color;
        z-index: 3;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
        min-width: 200px;
        min-height: 50px;
        z-index: 3;
        position: relative;
        background: url(../img/logo.png) center no-repeat;
        background-size: cover;
        position: relative;
        transition: all 0.5s ease-out 0s;
        @media (max-width: 560px) {
            min-width: 70px;
            background: url(../img/logo-mini.png) center no-repeat;
            background-size: cover;
            transition: all 0.3s ease 0s;
        }
    }
    &__logo-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__menu {
        @media (max-width: 767px) {
            position: fixed;
            top: -100%;
            left: 0;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            background-color: $light-primary-color;
            transition: all 0.3s ease 0s;
        }
    }
    &__menu.active {
        @media (max-width: 767px) {
            top: 0;
        }
    }
    &__menu-list {
        display: flex;
        @media (max-width: 767px) {
            display: block;
        }
    }
    &__menu-list-item {
        margin: 0 0.7rem;
        z-index: 3;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            padding: 30px 0;
            font-size: 1.5rem;
        }
    }
    &__menu-list-item::after,
    &__menu-list-item::before {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        width: 10px;
        height: 3px;
        background-color: $secondary-text;
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
    &__menu-list-item::after{
        transform-origin: bottom left;
        transform: rotate(35deg);
    }
    &__menu-list-item::before {
        transform-origin: bottom right;
        right: 14px;
        transform: rotate(-35deg);
    }
    &__menu-link {
        @media (max-width: 767px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__menu-link:hover {
        color: $secondary-text;
    }
    &__contact {
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__contact-item {
        margin: 0 0.7rem;
        @media (max-width: 767px) {
            margin: 0 auto;
            max-width: 250px;
        }
    }
    &__contact-whatsapp-link {
        display: block;
        color: $light-primary-color;
        background-color: $whatsapp;
        padding: 0.7rem 1rem;
    }
    &__contact-whatsapp-link:hover {
        background-color: $whatsapp-secondary;
    }
    &__contact-whatsapp-link span {
        @media (max-width: 992px) {
            display: none;
        }
        @media (max-width: 767px) {
            display: inline;
        }
    }
    &__contact-phone-link {
        font-weight: 700;
        font-size: 1.3rem;
        @media (max-width: 992px) {
            font-size: 1rem;
        }
        @media (max-width: 340px) {
            font-size: 1rem;
        }
    }
    &__contact-work-hours {
        color: $secondary-text;
        font-size: 0.9rem;
        text-align: center;
    }
    &__menu-burger {
        display: none;
        cursor: pointer;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
        }
    }
    &__menu-burger.active:before {
        transform: rotate(45%);
    }
    &__menu-burger::before,
    &__menu-burger::after {
        @media (max-width: 767px) {
            content: '';
            background-color: $primary-text;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
    }
    &__menu-burger span {
        @media (max-width: 767px) {
            position: absolute;
            background-color: $primary-text;
            left: 0;
            top: 50%;
            width: 100%;
            height: 2px;
        }
    }
    &__menu-burger::before {
        @media (max-width: 767px) {
            top: 0;
        }
    }
    &__menu-burger::after {
        @media (max-width: 767px) {
            bottom: 0;
        }
    }
    &__menu-burger.active::before {
        @media (max-width: 767px) {
            transform: rotate(45deg);
            top: 9px;
        }
    }
    &__menu-burger.active::after {
        @media (max-width: 767px) {
            transform: rotate(-45deg);
            bottom: 9px;
        }
    }
    &__menu-burger.active span {
        @media (max-width: 767px) {
            transform: scale(0);
            transition: all 0.3s ease 0s;
        }
    }
}
.slider{
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    &__img {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    &__content-inner {
        color: $light-primary-color;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
    &__content-title {
        font-size: 4rem;
        margin-bottom: 1rem;
        @media (max-width: 767px) {
            font-size: 2.9rem;
        }
        @media (max-height: 520px) {
            font-size: 2.9rem;
        }
    }
    &__content-description {
        font-size: 2rem;
        margin-bottom: 2rem;
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
        @media (max-height: 520px) {
            font-size: 1.2rem;
        }
    }
    &__content-btn {
        display: inline-block;
        background-color: $accent-color;
        color: $light-primary-color;
        padding: 1rem 2rem;
    }
    &__content-btn:hover {
        background-color: $accent-color-hover;
    }
}

.title {
    text-align: center;
    &__header {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 20px;
    }
    &__header::after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: $accent-color;
        bottom: 0;
        left: calc(50% - 25px);
    }
}

.about {
    &__title {
        padding-top: 1.5rem;
    }
    &__text {
        line-height: 1.4rem;
    }
}

.count {
    padding: 5rem 0;
    @media (max-width: 992px) {
        padding-bottom: 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        flex: 1 1 25%;
        padding: 2rem;
        @media (max-width: 992px) {
            flex: 1 1 50%;
        }
        @media (max-width:540px) {
            flex: 1 1 100%;
        }
    }
    &__item-wrapper {
        position: relative;
        padding: 2rem;
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 4px;
        box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
    }
    &__item-icon {
        position: absolute;
        width: 54px;
        height: 54px;
        top: -27px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        background: #fff;
        color: $accent-color;
        border-radius: 50px;
        border: 2px solid #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    }
    &__item-number {
        font-size: 2rem;
        display: block;
        font-weight: 700;
    }
    &__item-description {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
    }
}

.section-bg {
    color: $light-primary-color;
    position: relative;
    padding: 120px 0;
    &::before {
        content: "";
        background: #1b1b1b;
        position: absolute;
        bottom: 60px;
        top: 60px;
        left: 0;
        right: 0;
        transform: skewY(-2deg);
        z-index: -1;
    }
}

.services {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {}
    &__item {
        flex: 1 1 50%;
        padding: 1rem;
    }
    &__item-inner {
        padding: 1.9rem;
        border-radius: 6px;
        background: #252525;
        opacity: 1;
        min-height: 10rem;
        position: relative;
        transition: all 0.3s ease 0s;
    }
    &__item-inner:hover {
        box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.5);
    }
    &__item-icon {
        float: left;
        width: 4rem;
        height: 4rem;
        filter: invert(1);
    }
    &__item-title {
        padding-left: 5rem;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.1rem;
    }
    &__item-description {
        padding-left: 5rem;
        color: $secondary-text;
    }
    &__item-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.icon-porter {
    background-image: url(../img/icons/gruzchik.png);
    background-size: 100%;
}

.icon-moving {
    background-image: url(../img/icons/pereezd.png);
    background-size: 100%;
}

.icon-piano {
    background-image: url(../img/icons/piano.png);
    background-size: 100%;
}

.icon-vault {
    background-image: url(../img/icons/seif.png);
    background-size: 100%;
}

.icon-rigging {
    background-image: url(../img/icons/takelazh.png);
    background-size: 100%;
}

.icon-furniture {
    background-image: url(../img/icons/sborka-mebelli.png);
    background-size: 100%;
}

.photo {
    &__title {}
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex: 1 1 33.3333%;
        padding: 1rem;
        @media (max-width: 992px) {
            flex: 1 1 50%;
        }
        @media (max-width:540px) {
            flex: 1 1 100%;
        }
    }
    &__item-img-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        padding: 50% 0;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex: 0 0 25%;
        padding: 1rem;
        @media (max-width: 992px) {
            flex: 1 1 50%;
        }
        @media (max-width:540px) {
            flex: 1 1 100%;
        }
    }
    &__item-inner {
        background-color: $light-primary-color;
        color: $primary-text;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }
    &__item-img-wrapper {
        position: relative;
        padding: 50% 0;
        min-height: 160px;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__info {
        padding: 0.8rem 1rem;
        min-height: 110px;
    }
    &__title {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
        font-weight: 700;
    }
    &__position {
        color: $secondary-text;
    }
}

.footer {
    padding: 2rem 0;
    text-align: center;
    @media (max-width: 992px) {
        padding-bottom: 0;
    }
    &__inner {}
    &__text {}
    &__text-item {}
}

.social-links {
    text-align: center;
    padding: 1rem 0;
    &__item {
        font-size: 25px;
        display: inline-block;
        background: #2b2b2b;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 4px;
        text-align: center;
        width: 44px;
        height: 44px;
        transition: 0.3s;
    }
    &__item:hover {
        background-color: $accent-color-hover;
    }
}

.breadcrumbs {
    padding-top: 85px;
    &__inner {
        
    }

    &__container {
        display: flex;
        justify-content: left;
        color: $secondary-text;
        font-size: 14px;
    }

    &__item {
        margin-right: 20px;
        text-transform: capitalize;
        position: relative;
    }
    &__item::after {
        content: '';
        display: block;
        position: absolute;
        right: -17px;
        bottom: 35%;
        width: 14px;
        height: 1px;
        background-color: $secondary-text;
        transform: rotate(-60deg);
        
    }
    &__item:last-child::after {
        display: none;
    }
    &__link:hover {
        text-decoration: underline;
    }
}
